<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="jhashlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/jhash_app.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/jhash_app_%d.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d %p (%file:%line\)- %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <root level="ERROR">
        <appender-ref ref="jhashlog" />
    </root>
    <logger name="com.jacobz.jhash" level="ERROR">
        <appender-ref ref="jhashlog" />
    </logger>
    <logger name="com.jacobz.jhash" additivity="false" level="ERROR">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>